<div #start class="w-full flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 50%;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(35, 109, 85, 0.2)
          ),
          url('../../../../../assets/chelsea-WvusC5M-TM8-unsplash.jpg');

        height: 70vh;
      "
    >
      <div class="flex flex-col h-[70vh] max-w-screen-xl mx-auto">
        <div class="flex justify-end items-center flex-grow">
          <div class="rounded-sm text-right px-6 py-6 md:mr-3">
            <h1
              class="text-5xl font-bold"
              style="color: var(--background) !important"
            >
              EB Energiekonzepte
            </h1>
            <p
              class="text-2xl font-medium"
              style="color: var(--background) !important"
            >
              Solar & Photovoltaik aus Dissen und Ihrer Umgebungs dsaffwefweafeawfw
            </p>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>

<div
  class="mx-auto max-w-screen-xl px-6 hidden lg:flex justify-center items-center"
>
  <section class="text-center absolute">
    <div class="startSection flex flex-row justify-center items-center gap-12">
      <button
        [routerLink]="['/projekte']"
        routerLinkActive="routeIsActive"
        type="button"
        class="member inline-block rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
      >
        <div class="flex flex-col justify-between items-center">
          <div class="my-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="h-6 w-6 mx-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
              />
            </svg>
            <h3 class="text-2xl">Unsere Projekte</h3>
          </div>
          <svg
            class="mehrErfahren"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"
            ></path>
          </svg>
        </div>
      </button>
      <button
        [routerLink]="['/konfigurator']"
        routerLinkActive="routeIsActive"
        type="button"
        class="member inline-block rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
        style="height: 190px !important; width: 260px !important"
      >
        <div class="flex flex-col justify-between items-center">
          <div class="my-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="h-6 w-6 mx-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
              />
            </svg>
            <h3 class="text-2xl mb-2">Solaranlagen Konfigurator</h3>
            <p class="text-xs">Solaranlage in 3 Minuten planen!</p>
          </div>
          <svg
            class="mehrErfahren"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"
            ></path>
          </svg>
        </div>
      </button>
      <button
        [routerLink]="['/kontakt']"
        routerLinkActive="routeIsActive"
        type="button"
        class="member inline-block rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
      >
        <div class="flex flex-col justify-between items-center">
          <div class="my-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="h-6 w-6 mx-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
              />
            </svg>
            <h3 class="text-2xl">Zum Kontakt</h3>
          </div>
          <svg
            class="mehrErfahren"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"
            ></path>
          </svg>
        </div>
      </button>
    </div>
  </section>
</div>

<div style="background-color: var(--toolbar)">
  <section class="mx-auto max-w-screen-xl px-6 py-12 lg:pt-36">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-12">
      <div class="basis-8/12 flex flex-col mb-auto">
        <h2 class="sm:text-4xl text-3xl text-left font-semibold">
          Solar ganz einfach!(über das unternhemen)
        </h2>
        <div class="divider w-1/12 my-4"></div>
        <p class="font-semibold mb-4">
          EB Energiekonzepte | Solar & Photovoltaik aus Dissen und Ihrer
          Umgebung
        </p>
        <div class="mb-4">
          Photovoltaikanlagen können Ihren Autarkiegrad deutlich erhöhen, mit
          einer durchschnittlichen Netzunabhängigkeit von 65 %. Seit der
          Überarbeitung des Erneuerbare-Energien-Gesetzes (EEG) im Juli 2022
          eröffnen sich für private Haushalte in Bezug auf Photovoltaikanlagen
          neue Möglichkeiten. Die verbesserten Konditionen für die Einspeisung
          von Solarstrom und die geplanten Vereinfachungen im Betrieb von
          Photovoltaikanlagen machen die Nutzung dieser Technologie äußerst
          attraktiv.
        </div>
        <p class="mb-8">
          Unsere professionelle Beratung steht Ihnen stets zur Seite, damit Sie
          die richtigen Entscheidungen für Ihren digitalen Erfolg treffen.
        </p>
        <button
          [routerLink]="['/kontakt']"
          routerLinkActive="routeIsActive"
          type="button"
          class="mehrErfahrenSingle w-1/3 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
        >
          Kontaktiere uns!
        </button>
      </div>
      <div class="basis-4/12 flex justify-end items-center mb-auto">
        <img
          src="../../../assets/webtree/logo.png"
          class="overflow-hidden w-full lg:w-full mx-auto rounded-md bg-cover bg-[50%] bg-no-repeat shadow-md"
          style="background-color: var(--toolbar)"
        />
      </div>
    </div>
  </section>
</div>
