<div #start class="w-full flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 50%;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(35, 109, 85, 0.2)
          ),
          url('../../../../../assets/ebenergiekonzepte/Titelbild_Feld_mit_Modulen.png');

        height: 70vh;
      "
    >
      <div class="flex flex-col h-[70vh] max-w-screen-xl mx-auto">
        <div class="flex justify-end items-center flex-grow">
          <div class="rounded-sm text-right px-6 py-6 md:mr-3">
            <div
              class="text-5xl font-bold flex flex-row justify-end"
              style="color: var(--background) !important"
            >
              <p class="hidden sm:flex">EB-</p>
              <p class="hidden sm:flex">Energiekonzepte</p>
              <div class="sm:hidden flex flex-col">
                <p>EB-Energie</p>
                <p>konzepte</p>
              </div>
              <div></div>
            </div>
            <p
              class="text-2xl font-medium"
              style="color: var(--background) !important"
            >
              Solar & Photovoltaik aus Dissen und Ihrer Umgebungs
            </p>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>

<div
  class="mx-auto max-w-screen-xl px-6 hidden lg:flex justify-center items-center"
>
  <section class="text-center absolute">
    <div class="startSection flex flex-row justify-center items-center gap-12">
      <button
        [routerLink]="['/projekte']"
        routerLinkActive="routeIsActive"
        type="button"
        class="member inline-block rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
      >
        <div class="flex flex-col justify-between items-center">
          <div class="my-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              class="h-12 w-12 mx-auto"
              fill="white"
            >
              <path
                d="M268-240 42-466l57-56 170 170 56 56-57 56Zm226 0L268-466l56-57 170 170 368-368 56 57-424 424Zm0-226-57-56 198-198 57 56-198 198Z"
              />
            </svg>
            <h3 class="text-2xl">Unsere Projekte</h3>
          </div>
          <svg
            class="mehrErfahren"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"
            ></path>
          </svg>
        </div>
      </button>
      <button
        [routerLink]="['/konfigurator']"
        routerLinkActive="routeIsActive"
        type="button"
        class="member inline-block rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
      >
        <div class="flex flex-col justify-between items-center">
          <div class="my-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              class="h-12 w-12 mx-auto"
              fill="white"
            >
              <path
                d="m422-232 207-248H469l29-227-185 267h139l-30 208ZM320-80l40-280H160l360-520h80l-40 320h240L400-80h-80Zm151-390Z"
              />
            </svg>
            <h3 class="text-2xl mb-2">Solaranlagen Planer</h3>
            <p class="text-xs">Solaranlage in 3 Minuten planen!</p>
          </div>
          <svg
            class="mehrErfahren"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"
            ></path>
          </svg>
        </div>
      </button>
      <button
        [routerLink]="['/kontakt']"
        routerLinkActive="routeIsActive"
        type="button"
        class="member inline-block rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
      >
        <div class="flex flex-col justify-between items-center">
          <div class="my-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              class="h-12 w-12 mx-auto"
              fill="white"
            >
              <path
                d="M520-520v-240h80v104l200-200 56 56-200 200h104v80H520Zm278 400q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"
              />
            </svg>
            <h3 class="text-2xl">Zum Kontakt</h3>
          </div>
          <svg
            class="mehrErfahren"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"
            ></path>
          </svg>
        </div>
      </button>
    </div>
  </section>
</div>

<div style="background-color: var(--toolbar)">
  <section class="mx-auto max-w-screen-xl px-6 py-12 lg:pt-36">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-12">
      <div class="basis-8/12 flex flex-col mb-auto">
        <h1 class="sm:text-4xl text-3xl text-left font-semibold">
          Energiegewinnung mit Zukunft:
          <p>Photovoltaik-Kompaktlösungen – Einfach Besser!</p>
        </h1>
        <div class="divider w-1/12 my-4"></div>
        <p class="font-semibold mb-4">
          EB Energiekonzepte | Photovoltaik aus Dissen am Teutoburger Wald und
          Ihrer Region
        </p>
        <div class="mb-4">
          <p class="mb-4">
            Jeder spricht darüber, jeder will es haben, aber was ist eigentlich
            dran an diesem „Hype“? Warum sollten Sie sich unbedingt dafür
            entscheiden?
          </p>
          Photovoltaikanlagen bieten Ihnen eine umweltfreundliche
          Energiegewinnung durch die Nutzung von Sonnenenergie - einfacher kann
          es nicht sein. Sie ermöglichen Kosteneinsparungen durch Reduzierung
          der Stromrechnung und schaffen eine Unabhängigkeit von steigenden
          Energiepreisen. Staatliche Förderprogramme und Anreize machen eine
          solche Investition besonders attraktiv. Die Installation einer Anlage
          kann den Wert Ihrer Immobilie steigern, wussten Sie das? Einer der
          wichtigsten Punkte sich für solch ein Energiekonzept zu entscheiden
          ist: Durch den Einsatz von Solarenergie leisten Sie einen wichtigen
          Beitrag zum Klimaschutz und zur Reduzierung des CO2-Ausstoßes.
        </div>
        <p class="mb-8">
          Sie möchten mehr zum Thema erfahren? Sprechen Sie mit unseren Experten
          und profitieren Sie von unserer professionellen Beratung, damit Sie
          die richtigen Entscheidungen für sich und Ihre (Energie-) Zukunft
          treffen.
        </p>
        <button
          [routerLink]="['/kontakt']"
          routerLinkActive="routeIsActive"
          type="button"
          class="mehrErfahrenSingle w-1/3 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
        >
          Kontaktiere uns!
        </button>
      </div>
      <div class="basis-4/12 flex justify-end items-center mb-auto">
        <img
          src="../../../../../assets/ebenergiekonzepte/EB Gebäudefront.jpg"
          class="overflow-hidden w-full lg:w-full mx-auto rounded-md bg-cover bg-[50%] bg-no-repeat shadow-md"
          style="background-color: var(--toolbar)"
        />
      </div>
    </div>
  </section>
</div>
