<div #start class="w-full flex pt-[90px]">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 50%;
        background-image: url('../../../assets/ebenergiekonzepte/Titelbild_Feld_mit_Modulen.png');
        height: 50vh;
      "
    >
      <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
        <div class="flex justify-end items-center flex-grow">
          <div class="rounded-sm text-right px-6 py-6 md:mr-3">
            <h1
              class="text-5xl font-bold"
              style="color: var(--background) !important"
            >
              Impressum
            </h1>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>
<div style="background-color: var(--toolbar) !important">
  <section class="section mx-auto max-w-screen-xl px-6 py-12">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>EB-Energiekonzepte GmbH<br />
    Westring 6<br />
    d<br />
    49201 Dissen</p>
    
    <p>Handelsregister: HRB 219440<br />
    Registergericht: Osnabr&uuml;ck</p>
    
    <p><strong>Vertreten durch:</strong><br />
    Erik Schneider und Benjamin Sinanovic</p>
    
    <h2>Kontakt</h2>
    <p>Telefon: 054213089760<br />
    E-Mail: info@eb-energiekonzepte.de</p>
    
    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE363170081</p>
    
    <h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
    <p>Berufsbezeichnung:<br />
    Elektromeister</p>
    <p>Zust&auml;ndige Kammer:<br />
    Staatliches Gewerbeaufsichtsamt Osnabr&uuml;ck</p>
    <p>Verliehen in:<br />
    Deutschland</p>
    <h2>Angaben zur Berufs&shy;haftpflicht&shy;versicherung</h2>
    <p><strong>Name und Sitz des Versicherers:</strong><br />
    Allianz Versicherungs-Aktiengesellschaft<br />
    K&ouml;niginstr. 28, <br />
    80802 M&uuml;nchen</p>
    <p><strong>Geltungsraum der Versicherung:</strong><br />Deutschland</p>
    
    <h2>Redaktionell verantwortlich</h2>
    <p>Erik Schneider<br />
    <br />
    EB-Energiekonzepte GmbH</p>
    
    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
    
    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
  </section>
</div>
