.member {
  button {
    margin-top: 16px;
    background-color: var(--accent);
    color: var(--background);
    transition: var(--longTransition);
  }
  button:hover {
    background-color: var(--accent);
    color: var(--second);
    transition: var(--longTransition);
  }
}
