<div #start class="w-full flex pt-[90px]">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 50%;
        background-image: url('../../../assets/ebenergiekonzepte/Titelbild_Feld_mit_Modulen.png');
        height: 50vh;
      "
    >
      <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
        <div class="flex justify-end items-center flex-grow">
          <div class="rounded-sm text-right px-6 py-6 md:mr-3">
            <h1
              class="text-5xl font-bold break-all md:break-normal"
              style="color: var(--background) !important"
            >
              Allgemeine Geschäftsbedingungen
            </h1>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>
<div style="background-color: var(--toolbar) !important">
  <section class="section mx-auto max-w-screen-xl px-6 py-12">
    <!-- HIER DAS E RECHT HTML EINFÜGEN -->
    <h1>Allgemeine Geschäftsbedingungen</h1>
    <p>
      Verkaufs-, Lieferungs- und Zahlungsbedingungen der Firma
      EB-Energiekonzepte GmbH
    </p>
    <h3>§ 1 Geltungsbereich</h3>
    <p>
      1.1. Sämtlichen Lieferungen und Leistungen, insbesondere kauf-,
      werklieferungs- und werkvertragliche Lieferungen und Leistungen,
      einschließlich Installations-, Montage-, Inbetriebnahme- und
      Serviceleistungen, insb. die Lieferung und Montage von Photovoltaik- und
      Energiespeicheranlagen sowie einzelner Bestandteile solcher Anlagen, sowie
      Beratungs- und sonstige Nebenleistungen des Verwenders erfolgen im
      Verhältnis zwischen der EB-Energiekonzepte GmbH (nachfolgend “Verwender”
      genannt) und dem Kunden (nachfolgend Geschäftspartner genannt)
      ausschließlich auf Grundlage dieser allgemeinen Verkaufs-, Lieferungs- und
      Zahlungsbedingungen (kurz: AGB).
    </p>
    <p>
      1.2 Diese AGB gelten ausschließlich; entgegenstehende, von den
      vorliegenden AGB oder von gesetzlichen Bestimmungen abweichende oder diese
      AGB oder gesetzliche Bestimmungen ergänzende Bedingungen des
      Geschäftspartners erkennt der Verwender nicht an, es sei denn, er hat
      ausdrücklich schriftlich ihrer Geltung zugestimmt. Solche Bedingungen
      erkennt der Verwender auch dann nicht an, wenn er ihnen nach Eingang bei
      sich nicht widersprechen oder Lieferungen vorbehaltlos ausführen.
    </p>
    <p>
      1.3 Die vorliegenden AGB gelten sowohl gegenüber Verbrauchern als auch
      gegenüber Unternehmern, es sei denn, in der jeweiligen Klausel wird eine
      Differenzierung vorgenommen.
    </p>
    <p>
      1.4 Diese AGB gelten im Rahmen einer laufenden Geschäftsbeziehung zu einem
      Unternehmer ab Erteilung des ersten Auftrags nach Bekanntmachung mit dem
      Geschäftspartner auch für alle Lieferungen und Leistungen, die ihm
      zukünftig erbracht werden, auch wenn ihre Geltung nicht nochmals
      ausdrücklich vereinbart wird oder wenn in Kenntnis abweichender
      Bedingungen des Geschäftspartners das Geschäft vorbehaltlos ausgeführt
      wird oder wenn der Verwender diese Bedingungen nicht zwischenzeitlich
      ändert.
    </p>
    <!-- /////////////////////////// -->
    <!-- /////////////////////////// -->
    <h3>§ 2 Vertragsschluss, Inhalt</h3>

    <p>
      2.1. Alle Angebote des Verwenders, gleich in welcher Form, auch die in
      Katalogen, sonstigen Verkaufsunterlagen und im Internet angegeben, sind
      bis zum Vertragsabschluss stets freibleibend und unverbindlich. Die
      Angebote des Verwenders gegenüber dem Kunden dienen nur als Aufforderung
      zur Abgabe eines Vertragsangebots (invitatio ad offerendum).
    </p>

    <p>
      2.2. Vertragliche Verpflichtungen entstehen für den Verwender erst, wenn
      durch ihn schriftlich oder in Textform (i.d.R. durch eine
      Auftragsbestätigung) das Angebot des Geschäftspartners angenommen wird.
      Als Auftragsbestätigung gilt ausnahmsweise auch die umgehende
      Auftragsausführung mit Zustimmung des Geschäftspartners.
    </p>

    <p>
      2.3. Maßgebend für Art, Umfang und Zeit des Geschäfts ist die
      Auftragsbestätigung des Verwenders.
    </p>

    <p>
      2.4. In Prospekten, Abbildungen, Zeichnungen und anderen Beschreibungen
      angegebene Daten und Eigenschaften sind keine zugesicherten Eigenschaften,
      sondern Beschreibungen des Vertragsgegenstands; Abweichungen von diesen
      Daten und Eigenschaften, insbesondere in Bezug auf technische Daten, Maße,
      Farben, Konstruktionen, Formen, Leistungsmerkmale, Beschaffenheit,
      Stabilitäts- und Gewichtsangaben, Abbildungen, Zeichnungen und sonstige
      erhebliche Merkmale sind dann vertragsgemäß, wenn die Verwendung zum
      vertragsgemäßen Zweck nicht eingeschränkt wird und die Abweichungen dem
      Geschäftspartner zumutbar sind. Der Verwender behält sich derartige
      Abweichungen ohne Vorankündigung und auch während der Lieferzeit vor, ohne
      dass der Geschäftspartner Ansprüche daraus herleiten kann.
    </p>

    <p>
      2.5. Soweit Versicherungsbedingungen, Abstimmungen mit
      Elektrizitätsversorgungsunternehmen, Pläne,
      Wirtschaftlichkeitsberechnungen, Installationshinweise,
      Montageempfehlungen, Materialabstimmungen, Statikempfehlungen,
      VDE-Vorgaben im Zuge der Lieferung der Ware oder der Erbringung von
      Leistungen abgegeben, vorgelegt, besprochen oder in Aussicht gestellt
      werden, handelt es sich weder um vertraglich geschuldete Leistungen noch
      um vertragliche Obliegenheiten, sondern um unverbindliche Empfehlungen, es
      sei denn, über derartige Leistungen wird ein gesonderter Vertrag
      geschlossen.
    </p>

    <h3>§ 3 Preise und Preisanpassung; Zahlungsbedingungen</h3>
    <p>
      3.1. Es gelten die in der Auftragsbestätigung des Verwenders enthaltenen
      Preise einschließlich der vereinbarten Zahlungsbedingungen frei ab dem
      Sitz des Verwenders oder frei ab dem wirksam abweichend vereinbarten Ort
      einschließlich einfacher Verpackung zuzüglich Frachtkosten, Zoll,
      Versicherung, Montage, sonstiger Nebenkosten und am Liefertag geltender
      Umsatzsteuer.
    </p>
    <p>
      Anzahlungen sind in der jeweils vereinbarten Höhe in Abhängigkeit zum
      festgelegten Projektfortschritt zu entrichten.
    </p>
    <p>
      3.2 Ist der Kunde Verbraucher, sind Preisänderungen zulässig, wenn
      zwischen Vertragsabschluss und vereinbartem Liefertermin mehr als vier
      Monate liegen. Ändern sich danach bis zur Lieferung die Löhne oder die
      Materialkosten, so ist der Verwender berechtigt, den Preis angemessen
      entsprechend den Kostensteigerungen oder den Kostensenkungen zu ändern.
      Der Geschäftspartner ist zum Rücktritt nur berechtigt, wenn eine
      Preiserhöhung den Anstieg der allgemeinen Lebenshaltungskosten zwischen
      Bestellung und Auslieferung nicht nur unerheblich übersteigt.
    </p>
    <p>
      3.3 Ist der Kunde Unternehmer, gilt der vereinbarte Preis. Hat sich der
      Preis zum Zeitpunkt der Leistungserbringung durch eine Änderung des
      Marktpreises oder durch Erhöhung der von in die Leistungserbringung
      einbezogenen Dritten verlangten Entgelte erhöht, gilt der höhere Preis.
      Liegt dieser 20% oder mehr über dem vereinbarten Preis, hat der
      Geschäftspartner das Recht, vom Vertrag zurückzutreten. Dieses Recht muss
      unverzüglich nach Mitteilung des erhöhten Preises geltend gemacht werden.
    </p>
    <p>
      3.4 Die Zahlung wird mit Zugang der Rechnung fällig. Sie ist unter Angabe
      des Verwendungszwecks auf das Geschäftskonto des Verwenders zu leisten.
    </p>
    <p>
      3.5 Soweit nichts anderes vereinbart ist, ist der Geschäftspartner zu
      Teilzahlungen nicht berechtigt.
    </p>
    <p>
      3.6. Zahlungen an den Verwender erfolgen stets gemäß § 367 BGB mit der
      Maßgabe, dass zunächst auf die älteste Forderung des Verwenders gegen den
      Geschäftspartner geleistet wird. Andersartigen Tilgungsbestimmungen des
      Geschäftspartners wird widersprochen.
    </p>
    <p>
      3.7. Der Verwender behält sich, auch für laufende Geschäftsbeziehungen,
      vor, Vorauskasse zu verlangen oder gegen Nachnahme zu liefern, sowie in
      das Ausland nur aufgrund einer Akkreditivvereinbarung oder gegen Vorkasse
      zu liefern; dies insbesondere, wenn der Geschäftspartner ganz oder
      teilweise säumig ist oder ein Antrag auf Eröffnung eines Vergleichs-,
      Insolvenz- oder eines vergleichbaren Verfahrens gestellt ist. In diesen
      Fällen steht dem Verwender zu, sofortige Begleichung aller offenen,
      fälligen Forderungen zu verlangen und von den bestehenden Verträgen
      zurückzutreten.
    </p>
    <p>
      3.8. Dem Geschäftspartner steht ein Aufrechnungsrecht nur zu, wenn seine
      Gegenansprüche rechtskräftig festgestellt, unbestritten, vom Verwender h
      anerkannt oder mit der Hauptforderung des Verwenders synallagmatisch
      verknüpft sind. Ist der Kunde Unternehmer, ist er zur Ausübung eines
      Zurückbehaltungsrechts nur befugt, wenn sein Gegenanspruch auf dem
      gleichen Vertragsverhältnis beruht.
    </p>

    <h3>
      § 3a Nullsteuersatz für Umsätze im Zusammenhang mit bestimmten
      Photovoltaikanlagen | Zusicherung des Kunden
    </h3>
    <p>
      3a.1 Der Verwender erbringt die vertraglichen Leistungen umsatzsteuerfrei,
      sofern die gesetzlichen Voraussetzungen des § 12 Abs. 3 UStG erfüllt sind.
    </p>
    <p>
      3a.2 Von der gesetzlichen Befreiung werden derzeit die Installation und
      die Lieferung von Solarmodulen an den Betreiber einer Photovoltaikanlage
      erfasst, einschließlich der für den Betrieb einer Photovoltaikanlage
      wesentlichen Komponenten und der Speicher, die dazu dienen, den mit
      Solarmodulen erzeugten Strom zu speichern, wenn die Photovoltaikanlage auf
      oder in der Nähe von Privatwohnungen, Wohnungen sowie öffentlichen und
      anderen Gebäuden, die für dem Gemeinwohl dienende Tätigkeiten genutzt
      werden, installiert wird. Die vorstehenden Voraussetzungen gelten als
      erfüllt, wenn die installierte Bruttoleistung der Photovoltaikanlage laut
      Marktstammdatenregister nicht mehr als 30 Kilowatt (peak) beträgt oder
      betragen wird.
    </p>
    <p>
      3a.3 Der Geschäftspartner versichert hiermit, dass er die gesetzlichen
      Voraussetzungen für eine Umsatzsteuerbefreiung kennt und diese für seine
      Bestellung erfüllt sind. Er bestätigt insbesondere, dass die bestellten
      Produkte in einer Photovoltaikanlage mit einer Bruttoleistung laut
      Marktstammdatenregister bis 30 kWp eingesetzt werden, deren Betreiber er
      ist bzw. sein wird. Beträgt die Leistung einer solchen Anlage mehr als 30
      kWp, versichert der Geschäftspartner, dass die bestellten Produkte in
      einer solchen Anlage eingesetzt werden, deren Betreiber er ist bzw. sein
      wird, und dass diese auf oder in der der Nähe von Privatwohnungen,
      Wohnungen bzw. öffentlichen oder anderen Gebäuden, die für dem Gemeinwohl
      dienende Tätigkeiten genutzt werden, installiert wird. Sollten die
      gesetzlichen Voraussetzungen für eine Umsatzsteuerbefreiung ausnahmsweise
      nicht vorliegen, obliegt dem Geschäftspartner eine unverzügliche
      Mitteilungspflicht gegenüber dem Verwender.
    </p>

    <h3>§ 4 Lieferung und Leistung; Lieferzeit</h3>
    <p>
      4.1. Teillieferungen des Verwenders sind zulässig und entgegenzunehmen, es
      sei denn, diese sind nicht zumutbar. Abschlagszahlungen sind in diesem
      Fall zulässig. Lieferungen erfolgen, indem der Verwender an seinem
      Unternehmenssitz oder an einem anderen vereinbarten Ort (z. B. Werk,
      Lager) die Ware dem Geschäftspartner zur Verfügung stellt. Der Verwender
      muss die Ware weder auf ein abholendes Transportmittel verladen noch muss
      er sie zur Ausfuhr freimachen, falls dies erforderlich sein sollte. Die
      Lieferung erfolgt ab Werk oder Lager auf Rechnung und Gefahr des
      Geschäftspartners. An vorstehender Regelung ändert auch die Vereinbarung
      der Parteien nichts, dass der Verwender die Lieferung zum durch den
      Geschäftspartner bestimmten Ort mit eigenen Transportmitteln und / oder
      frachtfrei vornimmt. Ist Lieferung vereinbart, so obliegt die Wahl des
      Transportmittels dem Verwender in Ermangelung einer anderweitigen
      Vereinbarung.
    </p>
    <p>
      4.2. Liefertermine gelten mangels besonderer Vereinbarung als annähernd
      und unverbindlich. Vom Verwender angegebene Lieferfristen und -termine
      sind nur verbindlich, wenn sie außerhalb der Angebotsunterlagen und dessen
      Anlagen, der Angebotsergänzungen und -änderungen sowie außerhalb der
      Auftragsbestätigung mit individuellem Vertrag schriftlich vereinbart
      wurden. Derart vereinbarte Lieferfristen gelten als eingehalten, wenn die
      Ware bis Fristende verfrachtet wurde oder dem Geschäftspartner die
      Versandbereitschaft mitgeteilt wurde.
    </p>
    <p>
      4.3. Überschreitet der Verwender vereinbarte Liefertermin in nicht
      zumutbarem Ausmaß, so kann der Geschäftspartner nach Setzung einer
      angemessenen Nachfrist vom Vertrag zurücktreten. Ist die Überschreitung
      des Liefertermines auf Gründe zurückzuführen, welche der Verwender auch
      mit der Sorgfalt eines ordentlichen Kaufmannes nicht abwenden kann
      (insbesondere Streiks, Betriebsstörungen, Arbeitskräftemangel infolge
      behördlicher Maßnahmen, insbesondere aufgrund einer Pandemie, Mangel an
      Rohmaterial, sonstige Fälle höherer Gewalt etc.) ist das Rücktrittsrecht
      des Geschäftspartners erst bei einer Terminüberschreitung von drei Monaten
      und Setzung einer angemessenen Nachfrist gegeben. Ist die Lieferung nur zu
      einem Teil nicht erfolgt, so beschränkt sich das Recht des Käufers zum
      Rücktritt auf den nicht gelieferten Teil, es sei denn, der
      Geschäftspartner hat an der Teillieferung kein Interesse.
    </p>
    <p>
      4.4. Im Falle einer Lieferverzögerung ist der Geschäftspartner
      verpflichtet, dem Verwender auf dessen Verlangen innerhalb einer
      angemessenen Frist zu erklären, ob er weiterhin auf Lieferung bestehen
      will oder wegen der Verzögerung vom Vertrag zurücktreten und/oder
      Schadensersatz statt der Leistung verlangen will.
    </p>
    <p>
      4.5 Der Verwender macht ausdrücklich darauf aufmerksam, dass aufgrund der
      weltweiten Lieferprobleme für Produkte im Bereich der erneuerbaren
      Energien aktuell die Lieferung bestimmter Fabrikate von Anlagen und
      Komponenten nicht zugesichert werden kann. Die Lieferung eines anderen
      Fabrikats bei Lieferschwierigkeiten des ursprünglich gewählten Herstellers
      berechtigt dann nicht zum Rücktritt vom Vertrag, wenn es sich hierbei um
      ein mindestens gleich- oder auch höherwertiges Produkt des gleichen oder
      eines vergleichbaren Herstellers mit vergleichbaren Garantien handelt oder
      um eine aktuellere Modellreihe des Herstellers, welches in Funktion,
      Qualität, Größe und Form nicht wesentlich von den Vorgängermodellen
      abweicht. Der Verwender wird dem Geschäftspartner unverzüglich
      informieren, soweit Lieferschwierigkeiten absehbar sind.
    </p>
    <p>
      4.6 Soweit für die jeweils vertragsgegenständlichen Produkte erforderlich
      und vereinbart, bereitet der Verwender bzgl. des jeweiligen Produkts die
      Anfragen beim zuständigen Netzbetreiber vor, übermittelt diese und
      erbringt die An- und Fertigmeldung der Anlagen.
    </p>
    <h3>
      4.7 Nicht Gegenstand der durch den Verwender zu erbringenden Leistungen
      ist das Setzen von Messsystemen, einschließlich eines Zweirichtungszählers
      oder des Zählers für Wärmepumpen. Diese Leistung ist durch den jeweils
      zuständigen Netzbetreiber auszuführen.
    </h3>
    <p>
      4.8 Soweit nicht explizit durch den Geschäftspartner gesondert beauftragt,
      sind die Neuinstallation oder Erweiterung eines Zählerschranks, Anpassen
      der vorhandenen Elektroinstallationen im Haus des Kunden, Herstellen eines
      Internetanschlusses und Bereitstellen der für den Internetanschluss
      erforderlichen Geräte, z.B. ein Router, als auch die Abstimmung mit den
      Anbietern der Telekommunikationsleistungen, nicht Gegenstand des
      angebotenen Leistungsumfangs.
    </p>
    <p>
      4.9 Die im Lieferumfang enthaltene Unterkonstruktion der PV-Anlage ist ein
      handelsübliches Produkt mit einer angemessenen Qualität von einem
      anerkannten Hersteller. Die Lieferung eines bestimmten Fabrikats ist nicht
      vereinbart und nicht geschuldet.
    </p>
    <p>
      4.10 Die Leistung der PV-Anlage wird durch die Anzahl und die Leistung der
      verwendeten Module bestimmt. Die Gesamtleistung der installierten
      PV-Anlage kann daher sowohl höher als auch niedriger ausfallen, als in der
      Bestellung angegeben. Die in der Bestellung angegebene Gesamtleistung und
      der Preis beziehen sich ausschließlich auf die Anzahl der Module und deren
      jeweilige Nennleistung, wie sie sich aus dem durch den Hersteller der
      Module herausgegebenen technischen Datenblatt ergeben, sind jedoch
      ausdrücklich keine Zusicherung bzgl. der Gesamtleistung der PV-Anlage.
    </p>
    <h3>§ 5 Gefahrübergang</h3>
    <p>
      5.1. Der Gefahrübergang erfolgt ungeachtet möglicher Versicherungen gegen
      den Untergang, den Diebstahl oder die Verschlechterung der Ware bei
      Übergabe der Kaufgegenstände an die Transportperson, bei Versand bei
      Übergabe an die Versandperson oder nach Mitteilung der Versandbereitschaft
      durch Bereitstellung des Verwenders gegenüber dem Geschäftspartner.
    </p>
    <p>
      5.2. Diese Regelung gilt ungeachtet eines möglichen Selbsttransports durch
      den Verwender, auch wenn die Verladung des Verwenders auf seine eigenen
      Fahrzeuge zum Zwecke des Transports an den Käufer oder eine durch ihn
      bestimmte dritte Person erfolgt oder die Kosten für Fracht, Versand oder
      Lieferung vom Verwender getragen werden.
    </p>
    <p>
      5.3. Spätestens bei Verlassen des Werks oder Lagers des Verwenders tritt
      der Gefahrübergang auf den Geschäftspartner ein.
    </p>
    <p>
      5.4. Bei Verzug des Geschäftspartners geht die Gefahr auf diesen
      jedenfalls ab dem Zeitpunkt über, ab dem der Verwender objektive
      Versandbereitschaft hergestellt hat.
    </p>
    <p>
      5.5. Die Gefahr des zufälligen Untergangs und der zufälligen
      Verschlechterung der Ware geht spätestens mit der Übergabe auf den Kunden
      über.
    </p>
    <p>
      5.6. Sämtliche vorstehende Regelungen dieses § 5 gelten auch, wenn der
      Verwender zugleich die Montageverpflichtung der Waren übernommen hat, es
      sei denn, diesbezüglich gilt Werkvertragsrecht.
    </p>
    <h3>§ 6 Haftung für Mängel und Sonderkündigungsrecht des Verwenders</h3>
    <p>
      6.1. Ist der Geschäftspartner Verbraucher, haftet der Verwender für das
      Vorliegen eines Mangels nach den gesetzlichen Vorschriften, soweit sich
      aus dem Nachfolgenden keine Einschränkungen ergeben. Der Verbraucher hat
      offensichtliche Mängel, d.h. Mängel, die eine nicht mit besonderer
      Fachkunde versehene Person ohne besondere Aufmerksamkeit bemerken kann,
      dem Verwender gegenüber innerhalb von zwei Wochen nach Auftreten des
      Mangels schriftlich anzuzeigen. Erfolgt eine Anzeige nicht innerhalb der
      vorgenannten Frist, erlöschen die Gewährleistungsrechte. Das gilt nicht,
      wenn der Verwender den Mangel arglistig verschwiegen oder eine Garantie
      für die Beschaffenheit der Sache übernommen hat.
    </p>
    <p>
      6.2. Ist der Kunde Unternehmer, steht dem Verwender bei Vorliegen eines
      Mangels die Wahl der Art der Nacherfüllung zu.
    </p>
    <p>
      6.3. Es gelten die gesetzlichen Verjährungsfristen. Der Verwender
      widerspricht jeder Verlängerung der Gewährleistung über die gesetzlich
      geregelten Fristen hinaus. Ansprüche des Geschäftspartners wegen
      Mangelhaftigkeit der Komponenten einer Photovoltaikanlage unterliegen der
      zweijährigen Verjährung des § 438 Abs. 1 Nr. 3 BGB. Gegenüber Unternehmern
      wird die Gewährleistungsfrist auf ein Jahr verkürzt, beginnend mit
      Ablieferung/Übergabe der Ware oder Herstellung des Werks. Dies gilt jedoch
      nicht in den Fällen der § 438 Abs. 1 Nr. 1, 2 BGB, § 634a Abs. 1 Nr. 1, 2
      BGB, § 478BGB.
    </p>
    <p>
      6.4. Die Haftung des Verwenders für Sachmängel ist ausgeschlossen, wenn
      Reparaturen, Modifikationen oder Instandsetzungen an der Ware durch den
      Geschäftspartner oder Dritte vorgenommen werden, bevor ihm die Gelegenheit
      zur Nachbesserung gegeben oder er hierzu aufgefordert wurde.
    </p>
    <p>
      6.5. Mängel in einem Teil der Lieferung berechtigen den Geschäftspartner
      nicht, die gesamte Ware abzuweisen, soweit der mangelhafte Teil in Bezug
      auf die Gesamtlieferung zumutbar ist.
    </p>
    <p>
      6.6. Ist der Geschäftspartner Unternehmer, trifft ihn die unverzügliche
      Rügeobliegenheit des § 377 HGB. Die Mängelanzeige des Geschäftspartners im
      Sinne des § 377 HGB hat schriftlich und mit Bezug auf die konkreten
      Vertrags- bzw. Angebotsdaten zu erfolgen. Der Geschäftspartner trägt die
      Gefahr des Zugangs der Mängelanzeige. Für die Rechtzeitigkeit ist der
      Zugang beim Verwender maßgeblich.
    </p>
    <p>
      6.7. Garantien im Rechtssinne werden vom Verwender nicht erteilt.
      Aufgeführte Garantien, bspw. auf
      Kostenvoranschlägen/Auftragsbestätigungen, sind ausschließlich solche der
      Hersteller bzw. Drittunternehmen. Der Verwender ist nicht Garantiegeber
      und übernimmt nur die gesetzlich vorgeschriebene oder vertraglich
      vereinbarte Gewährleistung. Garantieansprüche sind gegenüber dem
      Garantiegeber geltend zu machen.
    </p>
    <p>
      6.8 Der Verwender kann, ohne Anspruch des Geschäftspartners auf
      Schadenersatz, vom Vertrag zurücktreten, wenn die technischen, baulichen
      oder regulatorischen Rahmenbedingungen vor Ort eine Durchführung des
      Auftrags zu den vereinbarten Bedingungen nicht ermöglichen und der
      Geschäftspartner trotz Mahnung durch den Verwender diese Mängel nicht
      binnen 4 (vier) Wochen nach Mitteilung fachgerecht behoben hat.
    </p>
    <h3>
      § 7 Haftung für Schäden, Pauschalierung von Ersatzansprüchen des
      Verwenders
    </h3>
    <p>
      7.1. Die Haftung des Verwenders für vertragliche Pflichtverletzungen sowie
      aus Delikt ist auf Vorsatz und grobe Fahrlässigkeit beschränkt. Dies gilt
      nicht bei Verletzung von Leben, Körper und Gesundheit des
      Geschäftspartners, Ansprüchen wegen der Verletzung von Kardinalpflichten,
      d.h. von Pflichten, die sich aus der Natur des Vertrages ergeben und bei
      deren Verletzung die Erreichung des Vertragszwecks gefährdet ist, sowie
      dem Ersatz von Verzugsschäden (§ 286 BGB). Insoweit haftet der Verwender
      für jeden Grad des Verschuldens. Die Haftung im Fall des Lieferverzuges
      ist jedoch für jede vollendete Woche des Verzuges im Rahmen einer
      pauschalierten Verzugsentschädigung auf 0,5 % des Auftragswertes, maximal
      jedoch nicht mehr als 5% des Auftragswertes begrenzt. Die Haftung im Fall
      von wesentlichen Vertragspflichten wird auf den regelmäßig vorhersehbaren
      vertragstypischen Schaden begrenzt.
    </p>
    <p>
      7.2. Die in den vorstehenden Regelungen enthaltenen Haftungsausschlüsse
      und Beschränkungen gelten ebenfalls für leicht fahrlässige
      Pflichtverletzungen der vom Verwender eingesetzten Erfüllungsgehilfen.
    </p>
    <p>
      7.3. Die in den vorstehenden Regelungen enthaltenen Haftungsausschlüsse
      und Beschränkungen gelten nicht im Falle einer zwingenden Haftung des
      Verwenders nach dem Produkthaftungsgesetz (sofern dies Anwendung findet),
      im Falle der Übernahme einer Garantie für die Beschaffenheit des
      Liefergegenstandes oder im Falle eines arglistigen Verschweigens des
      Mangels.
    </p>
    <p>
      7.4 Storniert der Geschäftspartner eine Bestellung nach dem
      Vertragsschluss, ist der Verwender berechtigt, als pauschalierten
      Schadensersatzbetrag 30 % der jeweiligen Netto-Auftragssumme für den
      entgangenen Gewinn und für die durch die Bearbeitung des Auftrages
      entstandenen Kosten, einschließlich des Planungsaufwandes und der Kosten
      der Rückabwicklung (bspw. Abholung bereits gelieferter Komponenten,
      Stornierung aller Bestellungen, Rücknahme der Netzanmeldung etc.) zu
      fordern. Ist der Geschäftspartner Verbraucher, ist er in diesem Fall
      berechtigt, nachzuweisen, dass ein geringerer oder gar kein Schaden
      entstanden ist.
    </p>
    <h3>§ 8 Vertragspflichten des Geschäftspartners</h3>
    <p>
      8.1. Der Geschäftspartner verpflichtet sich, Informationen, Pläne und
      sonstiges Daten soweit diese zur Erbringung der vertraglich vereinbarten
      Leistung erforderlich ist, auf Verlangen des Verwenders rechtzeitig zur
      Verfügung zu stellen.
    </p>
    <p>
      8.2. Der Geschäftspartner muss dafür sorgen, dass vor Beginn der
      Montagearbeiten die allgemeinen und insbesondere die nachstehenden
      baulichen Voraussetzungen für die Montage der Anlage vorhanden sind.
    </p>
    <p>
      8.3. Der Geschäftspartner hat vor Montagebeginn durch Überprüfung
      sicherzustellen, dass das Gebäude unter Berücksichtigung seiner statischen
      Gegebenheiten die geplante Anlage aufnehmen kann. Sollte der
      Geschäftspartner diese Frage nicht selbständig beantworten können, hat er
      die statische Tragfähigkeit vorab auf eigene Kosten durch Dritte, die
      hierzu fachlich geeignet sind (Architekten, Statiker etc.), überprüfen und
      bestätigen zu lassen. Der Verwender nimmt angesichts dieser bauseitigen
      Verpflichtung vor dem Projektbeginn keine zusätzliche individuelle
      Statikprüfung vor, worauf hiermit hingewiesen wird.
    </p>
    <p>
      8.4. Dem Geschäftspartner obliegt die Prüfung, dass in allen von der
      Montage betroffenen Gebäudeteilen keine Altlasten und Gefahrstoffe, insb.
      Asbest enthalten sind, welche die vorgesehenen Montagearbeiten erschweren
      oder ausschließen. Der Geschäftspartner wird den Verwender und von ihm
      eingesetzte Dritte von sämtlichen Ansprüchen, Bußgeldern und sonstigen
      finanziellen Belastungen freistellen, welche durch eine spätere Entdeckung
      von Gefahrenstoffen während der Montage entstehen.
    </p>
    <p>
      8.5. Der Geschäftspartner sichert ausreichende Stromanschlüsse zur
      Durchführung von Montagearbeiten zu. Der entnommene Strom wird bauseits
      gestellt ohne zusätzliche Vergütungspflicht des Verwenders. Soweit der
      Verwender im Rahmen der Vertragserfüllung die Elektroinstallation der
      vorhandenen Bestandsanlage nutzen muss oder eine Anlage oder Produkte
      hieran für ihre Inbetriebnahme anzuschließen hat, hat der Geschäftspartner
      die Mangelfreiheit und Funktionsfähigkeit der bauseits vorhandenen
      Elektroinstallation vorab auf eigene Kosten durch Dritte, die hierzu
      fachlich geeignet sind (Fachbetriebe für Hauselektrik etc.), überprüfen
      und bestätigen zu lassen. Der Verwender nimmt angesichts dieser
      bauseitigen Verpflichtung vor dem Projektbeginn keine zusätzliche
      Funktionskontrolle vor, worauf hiermit hingewiesen wird. Der
      Geschäftspartner hat einen Zählerschrank gem. den jeweils aktuellen
      Anforderungen nach VDE/TAB Standard, oder anderen, sich aus dem Vertrag
      ergebenden Anforderungen, zur Verfügung zu stellen.
    </p>
    <p>
      8.6. Der Geschäftspartner gestattet dem Verwender und dessen
      Erfüllungsgehilfen (ins. Dachdeckerfirma, Elektriker) den freien Zugang
      zum Standort der Montage. Diese Gestattung erstreckt sich auch auf spätere
      Termine im Rahmen der Nacherfüllung.
    </p>
    <p>
      8.7. Der Geschäftspartner hat zugängliche und begehbare Dachflächen im
      Falle der Dachmontage einer Anlage sicherzustellen.
    </p>
    <p>
      8.8. Der Geschäftspartner sichert zu, rechtzeitig alle rechtlichen und
      steuerlichen Fragen zur Errichtung und zur Inbetriebnahme der Anlage
      geklärt zu haben. Über die Voraussetzungen und den Umfang der Rechte und
      Pflichten nach dem Erneuerbare-Energien-Gesetz (EEG) hat er sich
      selbständig informiert. Notwendige öffentlich-rechtliche und/oder
      privat-rechtliche Zustimmungen und Genehmigungen für die zu errichtende
      Anlage hat er rechtzeitig, insb. vor Beginn des Anlagenaufbaus eingeholt.
      Bei Photovoltaikanlagen wird er den mit dem Netzbetreiber ggf.
      abzuschließenden Vertrag prüfen und verhandeln. Der Geschäftspartner wird
      abklären, ob und welche öffentlichen Finanzierungshilfen oder Zuschüsse er
      für die Errichtung der Anlage erhält; der Verwender übernimmt keine Gewähr
      oder Garantie dafür, dass der Geschäftspartner die beantragten
      öffentlichen Finanzierungshilfen oder Zuschüsse erhält.
    </p>
    <p>
      8.9 Der Geschäftspartner hat eine stabile Internetverbindung zur Verfügung
      zu stellen, welche die sich aus dem Auftrag ergebende
      Upload/Download-Leistung erbringt. Weiter hat er die für die Verbindung
      der Anlagen mit dem Internet erforderlichen Anschlüsse und Geräte
      bereitzustellen. Bis zum vereinbarten Montagetermin hat der
      Geschäftspartner insbesondere auf eigene Kosten eine feste, mit dem Router
      verbundene Netzwerkleitung am Aufstellungsort der Anlagen bzw. des
      Wechselrichters bereitzustellen.
    </p>
    <p>
      8.10 Wird die PV-Anlage auf einem Ziegeldach montiert, stellt der
      Geschäftspartner dem Verwender vor Beginn der Ausführung der Montage eine
      angemessene Anzahl von Dach- und ggf. Firstziegeln zur Verfügung, damit
      Ziegel, die bei der Montage beschädigt werden, ersetzt werden können.
      Etwaige Schadenersatzansprüche des Geschäftspartners aufgrund durch den
      Verwender vorsätzlich oder grob fahrlässig geschädigten Ziegeln bleiben
      hiervon unberührt. Sind die beim Geschäftspartner verbauten Ziegel nicht
      mehr am Markt erhältlich, besteht im Falle der Haftung des Verwenders
      lediglich der Anspruch auf Ersatz der beschädigten Ziegel durch ein
      vergleichbares Modell.
    </p>
    <p>
      8.11 Bei der Montage einer PV-Anlage obliegt dem Geschäftspartner die
      Bereitstellung der Dimensionierung, Auslegung und Anpassung eines
      Schneefangs.
    </p>
    <p>
      8.12 Der Geschäftspartner haftet dafür, dass der Aufstellungsort bei
      Aufnahme der Leistungserbringung durch den Verwender die Voraussetzungen
      für die Montage einer PV-Anlage erfüllt. Insbesondere hat das Dach die für
      die Installation und den Betrieb der PV-Anlage erforderlichen
      Voraussetzungen zu erfüllen. Hierzu zählt, dass das Dach die statischen
      Voraussetzungen für die zusätzliche Aufnahme des Gewichts der PV-Anlage
      erfüllt sowie Unterbau, Dämm- und Isolierschichten, die Dachkonstruktion,
      der Dachaufbau und die Dachziegel die Montage einer Anlage ermöglichen,
      ohne dass hierdurch Schäden entstehen. Der Geschäftspartner hat diese
      Voraussetzungen vor Beginn der vereinbarten Leistungserbringung durch ein
      hierfür qualifiziertes Unternehmen prüfen zu lassen.
    </p>
    <p>
      8.13 Der Verwender macht darauf aufmerksam, dass die
      brandschutzrechtlichen Voraussetzungen für die Montage einer PV-Anlage
      bundesweit nicht einheitlich geregelt sind. Der Verwender kann den
      Geschäftspartner daher lediglich auf mögliche Genehmigungsvorbehalte
      hinweisen. Zu den Leistungen des Verwenders zählt jedoch ausdrücklich
      nicht die Überprüfung der öffentlich-rechtlichen Voraussetzungen für die
      Montage einer PV-Anlage, einschließlich der jeweils geltenden denkmal-
      oder brandschutzrechtlichen Bestimmungen sowie weiterer baurechtlicher
      Anforderungen nach den anwendbaren gesetzlichen Bestimmungen oder
      örtlichen Satzungen.
    </p>
    <h3>§ 9 Gläubigerverzug und Deckungsgeschäft</h3>
    <p>
      9.1. Der Geschäftspartner ist verpflichtet, die gelieferten Waren und
      geschuldeten Leistungen zum vereinbarten, ansonsten zum nach der
      Verkehrssitte üblichen Termin vollständig abzunehmen, wobei unwesentliche
      Mängel nicht zur teilweisen oder vollständigen Annahmeverweigerung
      berechtigen, soweit die Annahme nicht unzumutbar ist.
    </p>
    <p>
      9.2. Kommt der Geschäftspartner dieser Verpflichtung nicht nach, ist der
      Verwender berechtigt, die gelieferte Ware auf Kosten des Geschäftspartners
      entsprechend § 354 Abs. 1 HGB zu lagern. Der Geschäftspartner ist in
      diesem Falle verpflichtet, unverzüglich einen neuen Liefertermin mit dem
      Verwender zu vereinbaren.
    </p>
    <p>
      9.3. Kommt der Geschäftspartner dieser Pflicht vollständig oder zu einem
      wesentlichen Teil schuldhaft nicht nach, kann der Verwender nach Ablauf
      von 4 Wochen ab Einlagerung vom Vertrag zurücktreten und die Waren zu den
      erzielbaren Marktbedingungen verwerten und den Erlös des Deckungsgeschäfts
      mit offenen Forderungen, entstandenen und entstehenden notwendigen Kosten
      und Zinsen sowie dem entgangenen Gewinn und entstandenen
      Schadensersatzforderungen saldieren.
    </p>
    <h3>§ 10 Eigentumsvorbehalt</h3>
    <p>
      10.1. Bei Verträgen mit Verbrauchern behält sich der Verwender das
      Eigentum an der Ware bis zu ihrer vollständigen Bezahlung vor.
    </p>
    <p>
      10.2. Ist der Kunde Unternehmer, behält sich der Verwender das Eigentum an
      der Ware bis zur vollständigen Bezahlung aller gegenwärtigen und künftigen
      Forderungen aus dem Vertrag und einer laufenden Geschäftsbeziehung
      (gesicherte Forderungen) vor, auch wenn die konkrete Ware bereits bezahlt
      wurde.
    </p>
    <p>
      10.3 Die unter Eigentumsvorbehalt stehenden Waren dürfen vor vollständiger
      Bezahlung der gesicherten Forderungen weder an Dritte verpfändet noch zur
      Sicherheit übereignet werden. Der Geschäftspartner hat den Verwender
      unverzüglich schriftlich zu benachrichtigen, wenn ein Antrag auf Eröffnung
      eines Insolvenzverfahrens gestellt oder soweit Zugriffe Dritter (z.B.
      Pfändungen) auf die dem Verwender gehörenden Waren erfolgen. Über
      Zwangsvollstreckungsmaßnahmen Dritter in die Vorbehaltsware hat der
      Geschäftspartner den Verwender insb. unverzüglich unter Übergabe der für
      eine Intervention notwendigen Unterlagen zu unterrichten; dies gilt auch
      für Beeinträchtigungen sonstiger Art. Unabhängig davon hat der
      Geschäftspartner bereit im Vorhinein die Dritten auf die an der Ware
      bestehenden Rechte hinzuweisen. Ist der Geschäftspartner Unternehmer, hat
      er die Kosten des Verwenders zu tragen, soweit der Dritte nicht in der
      Lage ist, diese zu erstatten.
    </p>
    <p>
      10.4. Ist der Kunde Unternehmer, tritt er dem Verwender für den Fall der
      Weiterveräußerung/Vermietung der Vorbehaltsware schon jetzt bis zur
      Erfüllung aller Ansprüche des Verwenders die ihm aus den genannten
      Geschäften entstehenden Forderungen gegen seinen Kunden zur Sicherheit ab.
      Bei einer Verarbeitung der Vorbehaltsware, ihrer Umbildung oder ihrer
      Verbindung mit einer anderen Sache erwirbt der Verwender unmittelbar
      Eigentum an der hergestellten Sache, wobei er als Hersteller gilt. Diese
      gilt als Vorbehaltsware.
    </p>
    <p>
      10.5. Übersteigt der Wert der Sicherung die Ansprüche des Verwenders gegen
      den Geschäftspartner um mehr als 20%, so hat der Verwender auf Verlangen
      des Geschäftspartners und nach dessen Wahl dem Verwender zustehende
      Sicherheiten in entsprechendem Umfang freizugeben.
    </p>
    <h3>§ 11 Subunternehmer</h3>
    <p>
      11.1 Der Verwender ist berechtigt, zur Leistungserbringung im eigenen
      Ermessen Subunternehmer einzusetzen.
    </p>
    <p>
      11.2 Soweit in diesen AGB oder der Bestellung der Verwender als Erbringer
      der Leistungen genannt wird, umfasst dieses auch das Erbringen der
      Leistungen durch etwaige Subunternehmer.
    </p>
    <h3>§12 Erfüllungsort, Rechtswahl und Gerichtsstand</h3>
    <p>
      12.1. Soweit sich aus dem Vertrag nichts anderes ergibt, ist Erfüllungs-
      und Zahlungsort der Geschäftssitz des Verwenders. Die gesetzlichen
      Regelungen für die Gerichtsstände bleiben unberührt, soweit sich nicht aus
      der Sonderregelung des Absatzes 3 etwas anderes ergibt.
    </p>
    <p>
      12.2. Für diese AGB und die Vertragsbeziehung zwischen Geschäftspartner
      und Verwender gilt das Recht der Bundesrepublik Deutschland unter
      Ausschluss internationalen Einheitsrechts, insbesondere des UN-Kaufrechts.
    </p>
    <p>
      12.3. Ist der Geschäftspartner Kaufmann i.S.d. Handelsgesetzbuchs,
      juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches
      Sondervermögen, ist ausschließlicher – auch internationaler Gerichtsstand
      für alle sich aus dem Vertragsverhältnis unmittelbar oder mittelbar
      ergebenden Streitigkeiten der Geschäftssitz des Verwenders. Entsprechendes
      gilt, wenn der Geschäftspartner Unternehmer i.S.v. § 14 BGB ist. Der
      Verwender ist jedoch in allen Fällen auch berechtigt, Klage am
      Erfüllungsort der Lieferverpflichtung gem. diesen AGB bzw. einer
      vorrangigen Individualabrede oder am allgemeinen Gerichtsstand des
      Geschäftspartners zu erheben. Vorrangige gesetzliche Vorschriften,
      insbesondere zu ausschließlichen Zuständigkeiten, bleiben unberührt.
    </p>
    <h3>§ 13 Streitbeilegungsverfahren</h3>
    <p>
      13.1 Der Verwender nimmt nicht an Verfahren mit Verbrauchern zur
      außergerichtlichen Streitbeilegung im Sinne des
      Verbraucherstreitbeilegungsgesetzes (VSBG) teil.
    </p>
    <p>
      13.2 Verbraucher haben die Möglichkeit, über die
      Online-Streitbeilegungs-Plattform (OS-Plattform) der Europäischen Union
      kostenlose Hilfestellung für die Einreichung einer Verbraucherbeschwerde
      zu einem Online-Kaufvertrag oder einem Online-Dienstleistungsvertrag sowie
      Informationen über die Verfahren an den Verbraucherschlichtungsstellen in
      der Europäischen Union zu erhalten. Die OS-Plattform kann unter folgendem
      Link aufgerufen werden: http://ec.europa.eu/consumers/odr/.
    </p>
    <p>Stand: März 2023</p>
  </section>
</div>
