* {
  color: var(--textcolor);
}

.startSection {
  // z-index: 10;
  flex-wrap: wrap;
  .member {
    width: 180px;
    height: 160px;
    background-color: var(--accent);
    color: var(--textcolor);
    transition: var(--longTransition);
    .mehrErfahren {
      transition: var(--longTransition);
      fill: var(--accent);
      height: 0px !important;
    }
  }
  .member:hover {
    transition: var(--longTransition);
    transform: scale(103%);
    background-color: var(--accent);
    color: var(--background);
    .mehrErfahren {
      transition: var(--longTransition);
      fill: var(--second);
      height: 24px !important;
    }
  }
}
