<section style="background-color: var(--toolbar)">
  <div class="mx-auto max-w-screen-xl px-6 py-12">
    <section class="text-left">
      <div class="max-w-[500px] lg:max-w-full mx-auto lg:mx-0">
        <h2 class="sm:text-4xl text-3xl text-left font-semibold">
          Individuellen Photovoltaik-Lösungen
        </h2>
        <div class="divider w-1/12 mt-4 mb-6"></div>
      </div>

      <div class="grid gap-12 lg:grid-cols-3">
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.jpg"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">
            Anbieter von führenden Photovoltaik-Systemen
          </h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Unsere Firma ist stolz darauf, führende Photovoltaik-Systeme
            anzubieten, die auf Innovation, Qualität und Nachhaltigkeit setzen.
            Mit unserer Expertise und Leidenschaft für Solarenergie sind wir Ihr
            verlässlicher Partner für zuverlässige und effiziente
            Photovoltaik-Systeme, die eine nachhaltige Zukunft gestalten.
          </div>

          <button
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Mehr erfahren
          </button>
        </div>
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.jpg"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">
            Auf dem Weg zu sauberer Energie
          </h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Unsere Mission ist es, unseren Kunden den bestmöglichen Service und
            eine umfassende Begleitung auf dem Weg zu sauberer Energie zu
            bieten. Wir verstehen, dass die Umstellung auf erneuerbare Energien
            eine bedeutsame Entscheidung ist, daher sind wir stolz darauf, Ihnen
            hochwertige Produkte und Dienstleistungen in Verbindung mit unserer
            Expertise und Leidenschaft anzubieten.
          </div>

          <button
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Mehr erfahren
          </button>
        </div>
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.jpg"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Erstklassiger Kundenservice</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Unsere Firma ist Ihr verlässlicher Partner für maßgeschneiderte
            Solarenergielösungen. Mit einem starken Engagement für
            Nachhaltigkeit und Innovation bieten wir hochwertige Photovoltaik-
            und Solarthermie-Lösungen für Gewerbe- und Privatkunden. Unsere
            langjährige Erfahrung, technisches Know-how und unser erstklassiger
            Kundenservice ermöglichen es uns, gemeinsam mit Ihnen eine grünere
            Zukunft zu gestalten. Vertrauen Sie auf unsere Expertise, um saubere
            und effiziente Energielösungen zu realisieren. Willkommen bei EB
            Energiekonzepte.
          </div>

          <button
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Mehr erfahren
          </button>
        </div>
      </div>
    </section>
  </div>
</section>
