<section>
  <div class="mx-auto max-w-screen-xl px-6 py-12">
    <section class="text-left">
      <div class="max-w-[500px] lg:max-w-full mx-auto lg:mx-0">
        <h2 class="sm:text-4xl text-3xl text-left font-semibold">
          Individuellen Photovoltaik-Lösungen
        </h2>
        <div class="divider w-1/12 mt-4 mb-6"></div>
      </div>

      <div class="grid gap-12 lg:grid-cols-3">
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="../../../../../assets/ebenergiekonzepte/KI PV Haus.png"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Unsere Projekte</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Wir sind stolz darauf, führende Photovoltaik-Systeme von
            verschiedenen Herstellern anbieten zu können. Innovation, Qualität
            und Nachhaltigkeit spielen dabei die entscheidenden Rollen. Sie
            erhalten bei uns eine Auswahl von Top-Produkten, die sich
            langfristig als effizient erwiesen haben, sowie neueste Technologien
            mit verbesserten Ladleistungen, Garantiebedingungen u. v. m.. Über
            den Link erhalten Sie Eindrücke zu bereits abgeschlossenen
            Kundenprojekten!
          </div>

          <button
            [routerLink]="['/projekte']"
            routerLinkActive="routeIsActive"
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Projekt übersicht
          </button>
        </div>
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="../../../../../assets/ebenergiekonzepte/Energiechart.png"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Jetzt Solaranlage planen!</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Gemeinsam erarbeiten wir den Plan für Ihre Photovoltaikanlage aus
            und fertigen ein Konzept für die Umsetzung. Wir gehen dabei auf Ihre
            individuellen Anforderungen ein und erstellen ein Angebot nach Maß,
            das Ihren Bedürfnissen entspricht. Unsere Experten beraten Sie
            ausführlich zur optimalen Standortwahl und Ausrichtung der Anlage.
            Unser Ziel ist es, Ihnen ein wirtschaftliches Konzept
            vorzulegen, das sich für Sie langfristig rentiert.
          </div>

          <button
            [routerLink]="['/konfigurator']"
            routerLinkActive="routeIsActive"
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Zum Konfigurator
          </button>
        </div>
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="../../../../../assets/ebenergiekonzepte/Callcenter Agent.png"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Kundensupport</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Unser hausinterner Kundensupport ist darauf ausgerichtet, Ihnen bei
            jedem Schritt auf Ihrem Weg zu einer nachhaltigen Energielösung zu
            helfen. Wir verstehen, dass jeder Kunde einzigartige Bedürfnisse und
            Anforderungen hat und deshalb bieten wir Beratung
            an, die speziell auf Ihre Situation zugeschnitten ist. Unser
            geschultes Team steht Ihnen zur Seite, um Ihre Fragen zu
            beantworten. Zögern Sie nicht, uns zu kontaktieren - wir sind hier,
            um Ihnen zu helfen, gemeinsam in eine grünere Zukunft zu gehen.
            Überzeugen Sie sich selbst und vereinbaren Sie einen Termin.
            Willkommen bei EB Energiekonzepte.
          </div>

          <button
            [routerLink]="['/kontakt']"
            routerLinkActive="routeIsActive"
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Zum Kontakt
          </button>
        </div>
      </div>
    </section>
  </div>
</section>
