<section>
  <div class="mx-auto max-w-screen-xl px-6 py-12">
    <section class="text-left">
      <div class="max-w-[500px] lg:max-w-full mx-auto lg:mx-0">
        <h2 class="sm:text-4xl text-3xl text-left font-semibold">
          Individuellen Photovoltaik-Lösungen
        </h2>
        <div class="divider w-1/12 mt-4 mb-6"></div>
      </div>

      <div class="grid gap-12 lg:grid-cols-3">
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="../../../../../assets/ebenergiekonzepte/KI PV Haus.png"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Unsere Projekte</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Wir sind stolz darauf, führende Photovoltaik-Systeme von
            verschiedenen Herstellern anbieten zu können. Innovation, Qualität
            und Nachhaltigkeit spielen dabei die entscheidenen Rollen. Ein
            auswahl aus top Produkten die sich langfristig als effizient
            erwiesen haben, sowie neuste Technologien mit verbesserten
            Ladleistungen, Garantiebedingungen uvm. Über den Link finden Sie
            neuste Eindrücke von fertigen Kundenprojekten!
          </div>

          <button
            [routerLink]="['/projekte']"
            routerLinkActive="routeIsActive"
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Projekt übersicht
          </button>
        </div>
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="../../../../../assets/ebenergiekonzepte/Energiechart.png"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Jetzt Solaranlage planen!</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Zusammen rollen wir den Plan für Ihre Photovoltaikanlage aus und
            fertigen ein Konzept auf der Basis Ihrer Informationen und
            vorstellungen an. Nach den ersten Umfängen gehen wir weiter ins
            Detail und setzen uns mit Ihnen in Verbindung um die Planbarkeit und
            den Konzeptumfang Haargenau zu definieren. Unser Ziel ist es Ihnen
            ein möglichst wirtschaftliches Konzept vorzulegen, was sich lohnt.
            Ganz dem Motto EINFACH BESSER!
          </div>

          <button
            [routerLink]="['/konfigurator']"
            routerLinkActive="routeIsActive"
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Zum Konfigurator
          </button>
        </div>
        <div class="member mx-auto">
          <div
            class="relative mb-6 overflow-hidden rounded-md bg-cover bg-no-repeat shadow-lg bg-[50%]"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="../../../../../assets/ebenergiekonzepte/Callcenter Agent.png"
              class="w-full"
            />
          </div>

          <h5 class="mb-4 text-xl font-bold">Kundensupport</h5>
          <div class="divider w-1/12 my-4"></div>
          <div class="mb-8">
            Wir wollen ein verlässlicher Partner für Ihr Energiekonzept sein und
            kümmern uns daher um einen guten telefonischen Support. Ein
            erstklassiger Kundenservice ist der Grundpfeiler für eine gute
            Zusammenarbeit. Unsere Mitarbeiter sind geschult und können Ihnen
            bei Fragen rund um das Thema Photovoltaik bereits erste Auskünfte
            geben. Gemeinsam gehen wir in eine grünere Zukunft. Überzeugen Sie
            sich selbst und vereinbaren Sie einen Termin. Willkommen bei EB
            Energiekonzepte.
          </div>

          <button
            [routerLink]="['/kontakt']"
            routerLinkActive="routeIsActive"
            type="button"
            class="mehrErfahrenSingle w-2/4 inline-block text-[var(--background)] rounded bg-[var(--accent)] shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >
            Zum Kontakt
          </button>
        </div>
      </div>
    </section>
  </div>
</section>
