<section class="h-[70vh]">
  <swiper-container
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
    class="mySwiper"
    speed="1500"
    parallax="true"
    pagination="true"
    pagination-clickable="false"
    navigation="false"
    autoplay-delay="5000" 
    autoplay-disable-on-interaction="false"
  >
    <div
      slot="container-start"
      class="parallax-bg"
      style="
        background-image: url(../../../../assets/chelsea-WvusC5M-TM8-unsplash.jpg);
      "
      data-swiper-parallax="-23%"
    ></div>

    <swiper-slide>
      <div class="mx-auto p-6">
        <div class="p-6">
          <div class="title" data-swiper-parallax="-300">Eb-Energiekonzepte</div>
          <div class="subtitle" data-swiper-parallax="-200">Slogan</div>
          <!-- <div class="text text-right" data-swiper-parallax="-100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
              laoreet justo vitae porttitor porttitor.
            </p>
          </div> -->
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="mx-auto p-6">
        <div class="p-6">
          <div class="title" data-swiper-parallax="-300">Ihr partner</div>
          <div class="subtitle" data-swiper-parallax="-200">super</div>
          <!-- <div class="text" data-swiper-parallax="-100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
              laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
              Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
              Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
              ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
              tincidunt ut libero. Aenean feugiat non eros quis feugiat.
            </p>
          </div> -->
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="mx-auto p-6">
        <div class="p-6">
          <div class="title" data-swiper-parallax="-300">Always Green</div>
          <div class="subtitle" data-swiper-parallax="-200">eb energie</div>
          <!-- <div class="text" data-swiper-parallax="-100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
              laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
              Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
              Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
              ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
              tincidunt ut libero. Aenean feugiat non eros quis feugiat.
            </p>
          </div> -->
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
