.animation-blocks {
  .member {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 6px; /* 6px */
    background-color: transparent;
    transition: var(--longTransition);
    border: solid 6px var(--background);
    position: relative;
    will-change: transform;
    backface-visibility: hidden;
    color: var(--background);
    .mehrErfahren {
      position: absolute;
      transition: var(--longTransition);
      fill: var(--accent);
      height: 0px !important;
      right: 0;
      bottom: 0;
    }
  }
  .member:hover {
    transition: var(--longTransition);
    // border-color: var(--second);
    transform: scale(1.028);
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    svg {
      fill: var(--second);
      transition: var(--longTransition);
    }
    .mehrErfahren {
      transition: var(--longTransition);
      fill: var(--second);
      height: 24px !important;
      cursor: pointer;
    }
  }
  .svg {
    padding-inline: 15px;
    background-color: var(--accent);
    position: absolute;
    top: -25px;
    left: 20px;
  }
  svg {
    fill: var(--background);
    background-color: var(--accent);
    transition: var(--longTransition);
  }
}

.backgroundLayer {
  background-image: url(../../../../assets/logoOpacity.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}
