<div style="background-color: var(--toolbar)">
  <div class="max-w-screen-xl py-12 px-6 mx-auto">
    <section>
      <h2 class="text-left text-4xl font-bold mb-10">Fragen? Wir antworten…</h2>
    </section>

    <section id="expand" class="gap-x-8 gap-y-4">
      <mat-accordion class="w-full gap-6 flex flex-col">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="flex flex-row">
            <div class="order-last basis-1/12"></div>

            <mat-panel-title class="title-big flex justify-start text-xl">
              Was kostet eine PV-Anlage momentan und wie vermeide ich
              zusätzliche Kosten?
            </mat-panel-title>
            <div class="w-[50px] flex justify-center items-center order-first">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left pl-0 sm:pl-[50px]">
            Das Preisniveau einer Photovoltaik-Anlage sowie zusätzlicher
            Komponenten kann stark variieren. Grundsätzlich sind preisliche
            Unterschiede in diesem Bereich völlig normal. Achten Sie darauf,
            dass das gewählte System zu Ihren Bedürfnissen passt. Ist der
            Speicher ausreichend groß oder doch zu groß? Sollten Sie mehr Module
            nehmen oder macht es mehr Sinn, die Anlage geringfügig kleiner zu
            dimensionieren? Lassen Sie sich dazu direkt von einem unserer
            Experten beraten.
          </p>

          <!-- <ul class="expansion-list text-sm text-left" style="list-style: inside">
          <li>
            <b>Höhere Haltbarkeit:</b> Glas-Glas-Module sind in der Regel
            langlebiger und widerstandsfähiger gegenüber Umwelteinflüssen wie
            Feuchtigkeit, Temperaturschwankungen und mechanischer Beanspruchung.
            Sie haben eine längere Lebensdauer als herkömmliche Solarmodule.
          </li>
          <li>
            <b>Bessere Stabilität:</b> Die doppelte Glasabdeckung erhöht die
            strukturelle Stabilität der Module, was sie weniger anfällig für
            Risse und Brüche macht.
          </li>
          <li>
            <b>Verbesserte Leistung:</b> Aufgrund der besseren Haltbarkeit
            können Glas-Glas-Module über die Zeit eine konstantere Leistung
            liefern, da sie weniger anfällig für Degradation sind.
          </li>
        </ul> -->
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="flex flex-row">
            <div class="order-last basis-1/12"></div>

            <mat-panel-title class="title-big flex justify-start text-xl">
              Welche Anlagengröße ist für mein Gebäude geeignet und welche
              staatlichen Förderungen oder Finanzierungsmöglichkeiten stehen zur
              Verfügung?</mat-panel-title
            >
            <div class="w-[50px] flex justify-center items-center order-first">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left pl-0 sm:pl-[50px]">
            In einem gemeinsamen Termin erarbeiten wir die Lösungen für diese
            Fragen. Staatliche Förderungen wie KfW, städtische Fördertöpfe und
            unser eigener Finanzierungspartner bieten verschiedene Möglichkeiten
            auf dem Weg zu Ihrer Photovoltaik-Anlage.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="flex flex-row">
            <div class="order-last basis-1/12"></div>

            <mat-panel-title class="title-big flex justify-start text-xl">
              Bekomme ich einen ganzheitlichen Service aus einer
              Hand?</mat-panel-title
            >
            <div class="w-[50px] flex justify-center items-center order-first">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left pl-0 sm:pl-[50px]">
            Ein klares JA. Unser Unternehmen ist ein zertifizierter
            Elektro-Meisterbetrieb und nimmt gebaute Anlagen selbst in Betrieb.
            Außerdem stehen eigene Handwerker und Techniker sowie ein
            hausinterner Support für Sie bereit. Sie erhalten somit eine
            Rundum-Betreuung.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="flex flex-row">
            <div class="order-last basis-1/12"></div>

            <mat-panel-title class="title-big flex justify-start text-xl">
              Wie lange dauert die Installation einer Anlage?
            </mat-panel-title>
            <div class="w-[50px] flex justify-center items-center order-first">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left pl-0 sm:pl-[50px]">
            Für die Installation einer Photovoltaikanlage sind 12 Wochen ein
            realistischer Zeitraum. Dadurch, dass wir auf die Korrespondenz mit den
            zuständigen Netzbetreibern angewiesen sind, können wir die
            Geschwindigkeit der Inbetriebnahme Ihrer Anlage nicht vollständig
            leiten. Generell findet diese Kommunikation zügig statt, sodass wir
            die nötigen Arbeiten schnell und effizient erledigen können.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="flex flex-row">
            <div class="order-last basis-1/12"></div>

            <mat-panel-title class="title-big flex justify-start text-xl">
              Gibt es noch Punkte zu beachten, nachdem meine Anlage fertig
              installiert wurde ?
            </mat-panel-title>

            <div class="w-[50px] flex justify-center items-center order-first">
              <svg
                class="m-auto"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>

          <p class="text-lg text-left pl-0 sm:pl-[50px]">
            Sie müssen sich um nichts bemühen, alle nötigen Eintragungen und
            Freigaben erledigen wir für Sie. Durch die App und neueste
            Technologien bleibt die Anlage für Sie grundsätzlich wartungsfrei.
            Durch die Überwachungsinstrumente können Sie so also den genauen
            Status der Anlage erfahren. Wie viel kWh Strom hat Ihre Anlage
            bereits produziert? Wie viel Energie wird gespeichert und wie viel
            haben Sie bereits ins Netz eingespeist?
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </div>
  <!-- ## -->
</div>
